#map {
  height: 97vh;
}

#version {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
}

.leaflet-container {
  background: white;
}

.icon {
  font-size: 24px;
  text-shadow: -1px -1px 0 #FFF, 1px 1px 0 #FFF, -1px 1px 0 #FFF, 1px -1px 0 #FFF;
}

.icon-spawn, .icon-camp {
  font-weight: bold;
  font-size: 28px;
}

.icon-mountain {
  color: blue;
}

.icon-forest {
  color: red;
  text-shadow: -1px -1px 0 white, 1px 1px 0 white, -1px 1px 0 white, 1px -1px 0 white;
}

.icon-deepforest {
  color: fuchsia;
  text-shadow: -1px -1px 0 white, 1px 1px 0 white, -1px 1px 0 white, 1px -1px 0 white;
}

.icon-plains {
  color: white;
  text-shadow: -1px -1px 0 black, 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black;
}

.icon-river {
  color: orange;
  text-shadow: -1px -1px 0 black, 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black;
}
