#map {
  height: 97vh;
}

#version {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
}

.leaflet-container {
  background: white;
}

.icon {
  font-size: 24px;
  text-shadow: -1px -1px 0 white, 1px 1px 0 white, -1px 1px 0 white, 1px -1px 0 white;
}

.icon-spawn, .icon-camp {
  font-weight: bold;
  font-size: 28px;
}

.icon-mountain, .icon-river {
  color: blue;
}

.icon-forest {
  color: red;
  text-shadow: -1px -1px 0 #bb0000, 1px 1px 0 #bb0000, -1px 1px 0 #bb0000, 1px -1px 0 #bb0000;
}

.icon-deepforest {
  color: brown;
}

.icon-plains {
  color: white;
  text-shadow: -1px -1px 0 black, 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black;
}

